@model ST10443307CLVDProjectPOEPart2.Models.Booking

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EVENTID" class="control-label"></label>
                <select asp-for="EVENTID" class ="form-control">
                    <option value = ""> Select booking </option>                 
                    @foreach (var Event in ViewBag.Events)
                    {
                        <option value = "@Event.EVENTID">@Event.EventName</option>                    
                    } 
                </select>
            </div>
            <div class="form-group">
                <label asp-for="VENUEID" class="control-label"></label>
                <select asp-for="VENUEID" class ="form-control">
                    <option value=""> Select venue </option>
                    @foreach (var Venue in ViewBag.Venues)
                    {
                        <option value="@Venue.VENUEID">@Venue.VenueName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="BookingDate" class="control-label"></label>
                <input asp-for="BookingDate" class="form-control" />
                <span asp-validation-for="BookingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
